p, button{
    text-align: center;
}

button{
    display: block;
    margin: auto;
    width: 6.25rem; /* 100px */
    height: 3.125rem; /* 50px */
}

.color-container{
    display: flex;
    justify-content: center;
}

.color-container div{
    width: 9.375rem; /* 150px */
    height: 9.375rem; /* 150px */
}

.hide{
    display: hidden;
}

.yellow-dull{
    background-color: #F9C74F;
}

.yellow-highlight{
    background-color: #fffd88;
}

.green-dull{
    background-color: #90BE6D;
}

.green-highlight{
    background-color: #e5febe;
}

.blue-dull{
    background-color: #577590;
}

.blue-highlight{
    background-color: #C9E3E9;
}

.red-dull{
    background-color: #C51912;
}

.red-highlight{
    background-color: #EC8E6D;
}

